{% extends "base.html" %}

{% block title %} {{topic.title}} {% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        Posted by <span class="badge badge-secondary">{{topic.author.username}}</span> on <span
            class="badge badge-secondary">{{topic.created.strftime('%d
            %b
            %Y')}}
        </span>
    </div>

    <div class="card-body">
        {{topic.text}}
    </div>

    {% if user.id == topic.author.id %}
    <div class="card-footer">
        <p>
            <a href="/topic/{{topic.id}}/edit">Edit</a>
            <a href="/topic/{{topic.id}}/delete">Delete</a>
        </p>
    </div>
    {% endif %}
</div>

<br>
<h5>Comments</h5>
<hr>
{% for comment in comments %}
<div class="card">
    <div class="card-header">
        Posted by <span class="badge badge-secondary">{{comment.author.username}}</span> on
    </div>
    <div class="card-body">
        {{comment.text}}
    </div>

    {% if user.id == comment.author.id %}
    <div class="card-footer">
        <p>
            <a href="/comment/{{comment.id}}/edit">Edit</a>
            <a href="/comment/{{comment.id}}/delete">Delete</a>
        </p>
    </div>
    {% endif %}
</div>
{% endfor %}
{% if user %}
<hr>
<div class="card">
    <div class="card-body">
        <form action="/topic/{{topic.id}}/create_comment" method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
            <div class="form-group">
                <textarea name="text" rows="5" class="form-control" placeholder="Enter your comment"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </form>
    </div>
</div>

{% endif %}

{% endblock content %}